   <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">

                            <li>
                                <a href="/admin" class="waves-effect">
                                    <i class="bi bi-house"></i>
                                    <span key="t-dashboards">Dashboards</span>
                                </a>
                            </li>


                            <li>
                                <a href="/analytics" class="waves-effect">
                                    <i class="bi bi-file-earmark-text"></i>
                                    <span key="t-calendar">Post</span>
                                </a>
                            </li>

                            <li>
                                <a href="chat.html" class="waves-effect">
                                    <i class="bi bi-chat-right-dots"></i>
                                    <span key="t-chat">Comments</span>
                                </a>
                            </li>

                            <li>
                                <a href="apps-filemanager.html" class="waves-effect">
                                    <i class="bi bi-people"></i>
                                    <span key="t-file-manager">Users</span>
                                </a>
                            </li><br><br>

                            <li>
                                <a href="apps-filemanager.html" class="waves-effect">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span key="t-file-manager">Logout</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->